.product-category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  scroll-snap-align: start;
  width: 100%;
  height: min-content;
  border-radius: var(--corner-radius);
}

.product-category-card a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
}

.product-category-card__image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: var(--product-card-corner-radius);
  width: 100%;
  max-width: 32rem;
}

.product-category-card__image {
  width: 100%;
  height: 25.7rem;
  object-fit: cover;
  border-radius: var(--product-card-corner-radius);
  aspect-ratio: 1;
}

.product-category-card__content {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  padding: 1rem 0 0 0;
}

.product-category-card__title {
  text-transform: uppercase;
  margin: 0 0 0.5rem 0;
}

.product-category-card__price {
  margin: 0.5rem 0 0 0;
}

.product-category-card__progress {
  position: absolute;
  top: 10px;
  left: 12px;
  right: 12px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  z-index: 10;
  overflow: hidden;
  display: none;
}

.product-category-card__progress-bar {
  height: 100%;
  background-color: #000;
  border-radius: 2px;
  width: 0%;
  transition: width 0.3s ease;
  display: block !important; /* necessary due to shopify base css hiding empty divs */
}

.product-category-card__image-wrapper:not(:has(.product-category-swiper)) .product-category-card__progress {
  display: none;
}

.product-category-card--featured {
  width: 100%;
  height: auto;
}

.product-category-card--featured .product-category-card__image-wrapper {
  max-width: 76rem;
}

.product-category-card__image--featured {
  height: 60rem;
}

.product-category-card--hidden {
  display: none;
}

@media screen and (max-width: 950px) {
  .product-category-card__progress {
    display: block;
  }
}
