.product-category-grid-featured {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  margin-bottom: 3rem;
}

.product-category-grid-featured__main {
  display: flex;
}

.product-category-grid-featured__side {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.product-category-grid-regular {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
}

.product-category-card {
  width: 100%;
  height: min-content;
}

.product-category-card a {
  text-decoration: none;
  color: inherit;
}

.product-category-card__image {
  width: 100%;
  height: 25.7rem;
  object-fit: cover;
  aspect-ratio: 1;
}

.product-category-card__image--featured {
  height: 60rem;
}

.product-category-card__content {
  padding: 1rem 0 0 0;
}

.product-category-card__title {
  margin: 0 0 0.5rem 0;
}

.product-category-card--hidden {
  display: none;
}

.product-category-load-more {
  text-align: center;
  margin-top: 3rem;
}

.product-category-load-more__button {
  padding: 1rem 2rem;
  background: transparent;
  cursor: pointer;
  font-family: var(--font-body);
  text-transform: uppercase;
}

@media screen and (max-width: 749px) {
  .product-category-grid-featured {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  .product-category-grid-featured__side {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  .product-category-grid-regular {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}
